<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span> 
<!-- Footer Start -->

<div class="footer">
	<div class="footer-inner">
		<div class="container">
			<div class="footer-head">
				<ul class="item">
					<li class="br-green">
						<h3><a href="alquiler-de-salas"><i class="fa fa-search"></i> &nbsp;Buscar una sala</a></h3>
						<p>Encuentra una sala para alquiler temporal.</p>
					</li>
					<li class="br-lblue">
						<h3><a href="categorias-de-alquiler-de-salas"><i class="fa fa-list"></i> &nbsp;Buscar por categoría</a></h3>
						<p>Todas las categorías de sala para buscar.</p>
					</li>
					<li class="br-orange">
						<h3><a href="publica-tu-sala-gratis"><i class="fa fa-rocket"></i> &nbsp;Publica tu sala GRATIS</a></h3>
						<p>Publica tu sala o espacio, gratis.</p>
					</li>
				</ul>
			</div>
			
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="footer-widget">
						<h4><i class="fa fa-unlink"></i> &nbsp; Navegación</h4>
						<ul>
							<li><a href="publica-tu-sala-gratis"><i class="fa fa-rocket"></i> &nbsp; Publica gratis tu espacio o servicio</a></li>
							<li><a href="terminos-y-condiciones"><i class="fa fa-align-justify"></i> &nbsp; Terminos y condiciones</a></li>
							<li><a href="terminos-y-condiciones"><i class="fa fa-align-justify"></i> &nbsp; Política de privacidad</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="footer-widget">
						<h4>{{ theme:image file="amr-isologo-sm.png" }} &nbsp; America Meeting Rooms</h4>
						<p>Plataforma de promoción de espacios para alquiler temporal y servicio profesionales. Publique gratis su espacio. Seguinos para enterarte de las novedades.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="footer-widget">
						<h4><i class="fa fa-phone"></i> &nbsp; Contacto</h4>
						<span>America Meeting Rooms</span>
						<p><span class="mute">E-mail</span> : <a href="#">info@amrooms.com</a></p>
						<div class="social">
							<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
						</div>						
					</div>
				</div>
				
			</div>
			<div class="copy">
				<p><?php echo date('Y'); ?> &copy; Copyright <a href="#">America Meeting Rooms</a></p>
			</div>
		</div>
	</div>
</div>