<meta charset="utf-8">
<title>{{ settings:site_name }} &raquo; {{ template:title }}</title>
<meta http-equiv="cache-control" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="American Meeting Rooms">
<meta name="google-site-verification" content="ZKJM6IZV1h2XCk59w55xHGnLjgOcqv5ABIgUQss2_lw" />
{{ template:metadata }}  
<!-- Set a base location for assets -->
<base href="{{ url:base }}"/>
<!-- End base -->

<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700' rel='stylesheet' type='text/css'>

<!-- CSS. No need to specify the media attribute unless specifically targeting a media type, leaving blank implies media=all -->
{{ theme:css file="bootstrap.min.css" }}
{{ theme:css file="animate.min.css" }} 
<!--[if IE 8]>
{{ theme:css file="rs-settings-ie8.css" }}
<![endif]--> 
{{ theme:css file="jquery.countdown.css" }} 
{{ theme:css file="prettyPhoto.css" }} 
{{ theme:css file="font-awesome.min.css" }} 
{{ theme:css file="style.css" }}   
<!-- custom -->
{{ theme:css file="custom.css" }} 
{{ theme:css file="homesearch-homelist.css" }} 
<!-- End CSS-->           
<!--[if IE]>
{{ theme:css file="ie-style.css" }}
<![endif]-->

<!-- Favicon -->
<link rel="shortcut icon" href="#">  

{{ theme:favicon }}  

