
    <!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{{ theme:js file="jquery.js" }}
{{ theme:js file="bootstrap.min.js" }}  
<!-- jQuery way points -->
{{ theme:js file="waypoints.min.js" }}
<!-- Portfolio JS -->
<!-- Pretty Photo, Filter And Isotope JS -->
{{ theme:js file="filter.js" }}
{{ theme:js file="isotope.js" }}
{{ theme:js file="jquery.prettyPhoto.js" }}
<!-- Carusole JS -->
{{# theme:js file="jquery.carouFredSel-6.2.1-packed.js" #}}
<!-- Respond JS for IE8 -->
{{ theme:js file="respond.min.js" }}
<!-- HTML5 Support for IE -->
{{ theme:js file="html5shiv.js" }}
<!-- google Map -->
<!-- google Map -->
{{ theme:js file="front/infobox.js" }}
{{ theme:js file="front/gmap_itemview.js" }}
{{ theme:js file="front/markerwithlabel.js" }}
{{ theme:js file="front/StyledMarker.js" }}
<!-- Modal form -->
{{ theme:js file="front/bootstrap-datepicker.js" }}
{{ theme:js file="front/bootstrap-datepicker.es.js" }}
<!-- Custom JS -->
{{ theme:js file="custom.js" }}
{{ theme:js file="select2.js" }}
{{ theme:js file="select2_locale_es.js" }}
{{ theme:js file="front/space_view.js" }}
{{ theme:js file="front/space_view_modals.js" }}