<!-- Inner Page Heading -->
<div class="inner-page error">
	<div class="container">
		<h2><i class="fa fa-times-circle red"></i><strong>404 Error</strong></h2>
		<div class="text-center">
			<div class="panel panel-danger" style="margin-top:50px; margin-bottom:50px;">
				<div class="panel-heading">
					<h4 class="panel-title">Página no encontrada</h4>
				</div>
				<div class="panel-body">
					<p>La página que buscas no existe.</p>
					<a href="./" class="btn btn-lg btn-warning btn-power" style="margin-top:30px; margin-bottom:30px;">Continuar la búsqueda</a>
				</div>
			</div>						
		</div>
	</div>
</div>