<div class="inner-page feature">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">		
				<h2><i class="fa fa-check-circle"></i><strong>Todas las opciones en un solo lugar</strong></h2>
			</div>
		</div>
		<!-- Feature Form Main Page -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4">
				<!-- Items for Feature list -->
				<div class="feature-item animated">
					<!-- Feature List Image -->
					<a href="#">{{ theme:image file="3.png" class="img-responsive" alt="" }}</a>
					<!-- Feature item heading and paragraph -->
					<h4><a href="#">Ahorrá tiempo</a></h4>
					<p> El mas potente y completo buscador de salas, donde buscar y encontrar un lugar para tu actividad es simple y eficaz.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<!-- Items for Feature list -->
				<div class="feature-item animated">
					<!-- Feature List Image -->
					<a href="#">{{ theme:image file="4.png" class="img-responsive" alt="" }}</a>
					<!-- Feature item heading and paragraph -->
					<h4><a href="#">Consultá</a></h4>
					<p>Envia tu consulta a las salas seleccionadas y recibí todas las respuestas en tu casilla de correo. </p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<!-- Items for Feature list -->
				<div class="feature-item animated">
					<!-- Feature List Image -->
					<a href="#">{{ theme:image file="5.png" class="img-responsive" alt="" }}</a>
					<!-- Feature item heading and paragraph -->
					<h4><a href="#">Información completa</a></h4>
					<p>Información completa de cada sala, fotos, dirección y características en detalle para elegir la mejor opción.</p>
				</div>
			</div>
		</div>
	</div>
</div>
