<div id="amr-home-slider" class="carousel slide hidden-xs" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#amr-home-slider" data-slide-to="0" class="active"></li>
		<li data-target="#amr-home-slider" data-slide-to="1"></li>
		<li data-target="#amr-home-slider" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			{{ theme:image file="slider/bg-2.jpg" alt="" }}	
			<div class="carousel-caption home-slider hidden-xs hidden-sm">
				<div class="slider-caption pull-right">
					<a class="btn-link"><h4>Sala Videoconferencia, Olleros</h4></a>					
					<p>Sala para Videoconferencia, totalmente equipada.</p>
					<small>(Belgrano) Buenos Aires, Argentina</small>
				</div>
			</div>	
		</div>
		<div class="item">
			{{ theme:image file="slider/bg-1.jpg" alt="" }}	
			<div class="carousel-caption home-slider hidden-xs hidden-sm">
				<div class="slider-caption pull-right">
					<a class="btn-link"><h4>Salon Cascada, Palermo Suites</h4></a>					
					<p>Salon de amplias dimensiones, luminosidad y equipamiento.</p>
					<small>(Palermo) Buenos Aires, Argentina</small>
				</div>
			</div>		
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#amr-home-slider" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#amr-home-slider" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>