/* buttons */

.btn-power{
	font-size: 14px;
	border-radius: 3px;
	color: #fff;
}

.br-sorange{
	background: #f43419;
}

.btn-primary{
	background-color: #25A7F5;
}

.btn-primary:hover{
	background-color: #4ab6f6;
}



/* top header */
.top-header{
	margin-top: 10px;
}


/* HEAD Menu btn */

.menu-btn{
	right: 5%;
}
.menu-btn a{
	background: #53B6E6;	
}

.head{
	border-top: 3px solid #53B6E6;
}

/* TO TOP - btn*/

.totop {
	background: #ea1b0a;
}
.totop a{
	
}


/* LOGO --------------------------------- */

header .logo {
	margin: 2px 0 0 0;
	float: left;
}

.row.top-header{
	margin-bottom: 0px;
} 

header{
	border-bottom: 1px solid #eeeeee;
}

.amrlogo-sm{
	width: 21px;
	height: 20px;
/*	content: url('../img/amr-isologo-sm.png') 0 0;*/
}

.amrlogo-sm.filter{
	margin: 0px -4px 2px -3px;	
}

.amrlogo-tiny{
	width: 18px;
	height: 17px;
/*	content: url('../img/amr-isologo-sm.png') 0 0;*/
}

.amrlogo-tiny.space-table-service{
	margin: 0px 1px 1px -3px;
}

.amrlogo-tiny.space-view-sidepanel{
	margin: 0px 0px 1px -4px;
}

.amrlogo-sm.space-view-list{
	margin: 0px 0px 1px -4px;
}

.amrlogo-sm.table-product-usetype{
	margin: -1px 0px 1px -4px;
}

/* breadcrumb */
.breadcrumb-amr{
	color: #393c3d;
}

.breadcrumb-amr h2{	
	font-weight: bold;		
}

.breadcrumb-amr i.fa{
	font-size: 25px;
}

.breadcrumb-amr .amrlogo-sm{
	width: 36px;
	height: 34px;
	margin: -7px 3px 0px -13px;	
}

.lightbox-item .amrlogo-sm{
	width: 36px;
	height: 34px;
	margin: 0px 3px -8px -12px;	
}

/* Modal */

div.modal-body{
	color: #000;
}

.modal-title.amrblue{
	color: #0a8cdb;
}

.modal-title.amrpink{
	color: #F9009d;
}

div.modal-body hr{
	margin: 5px 0px 5px 0px;
}

div.modal-body h4.pink{
	color: #F9009d;
	font-weight: normal;
}

div.modal-body h4.amrblue{
	color: #0a8cdb;
	font-weight: normal;
}

div.modal-body p{
	font-size: 13px;
	margin-bottom: 10px;	
}

div.modal-body .fixmrgB{
	margin-bottom: 15px;
	display: inline-block;
}

div.modal-body .fixmrgL{
	margin-left: 15px;
	display: inline-block;
}

/* BTN */
div.modal-body .btn-pink{
	background-color: #ededed;
	color: #fe56c0;
	min-width: 160px;	
	border: 1px solid #ddd;
	padding-left: 20px;
	padding-right: 20px;
}

div.modal-body .btn-pink.active{
	background-color: #fe2db1;
	font-weight: bold;
	color: #fff;
	border: 1px solid #fe2db1;	
}

div.modal-body .btn-pink:hover{
	background-color: #fe56c0;
	color: #fff;
	font-weight: bold;
	border: 1px solid #fe56c0;	
}

div.modal-body .btn-amrgray{
	background-color: #ededed;
	color: #999;
	font-weight: bold;
	min-width: 160px;	
	border: 1px solid #ddd;
	padding-left: 20px;
	padding-right: 20px;
}

div.modal-body .btn-amrgray.active{
	background-color: #ededed;
	font-weight: bold;
	color: #fe56c0;
	border: 1px solid #ddd;	
}

div.modal-body .btn-amrgray:hover{
	background-color: #ddd;
	color: #393c3d;
	font-weight: bold;
	border: 1px solid #ddd;	
}

div.modal-body .btn-xs.btn-amrgray{
	min-width: 20px;
	padding: 4px 8px;
	margin-bottom: 2px;	
}

div.modal-body .btn-default.dateadd{
	margin-top: 0px;
	background-color: #ddd;
	color: #393c3d;
}

div.modal-body .btn-default.dateadd:hover{
	margin-top: 0px;
	background-color: #999;
	color: #fff;
}

div.modal-body .btn-amrgray.btn-xs.cbx {
	min-width: 75px;
	padding: 2px 5px;
	font-size: 9px;
	color: #999;
}

div.modal-body .btn-amrgray.btn-xs.cbx i.fa {
	color: #ededed;
}

div.modal-body .btn-amrgray.btn-xs.cbx:hover {
	color: #fff;
}

div.modal-body .btn-amrgray.btn-xs.cbx.active {
	color: #222;
}

div.modal-body .btn-amrgray.btn-xs.cbx.active i.fa {
	color: #222;
}

div.modal-body .row.datetimebox{
	display: block;
	border: 1px solid rgb(254, 86, 192);
	margin: 0px;
	padding: 5px;
	border-radius: 3px;
}

div.modal-body .row.datetimebox div.closer{
	float: right;
	margin: -8px -11px;
}

div.modal-body .row.datetimebox div.closer .btn{
	margin: 0px -10px;
	color: #F9009d;
	border: 0px;
}

/* BOX */
div.modal-body .badge.badge-pink{
	background-color: #F9009d;
	vertical-align: top;	
}

div.modal-body .opt2box{
	padding: 0px 0px 5px 0px;
}

div.modal-body .opt2box table{
	margin: 5px;
	font-size: 12px;
}

div.modal-body .opt2box table>tbody>tr>td{
	padding: 1px 5px 1px 5px;
}

div.modal-body .opt2box table>tbody>tr>td>button{
	margin: 0px;
	padding: 0px 4px;	
}

div.modal-body .opt2box table>tbody>tr>th{
	padding: 5px 1px 1px 1px;
    border-top: 0;	
}

div.modal-body table#datetimeTable>thead>tr>th {
	font-weight: normal;
	color: #fe2db1;
	text-align: center;
}

div.modal-body table#datetimeTable>tbody>tr>td {
	text-align: center;
}

div.modal-body table#datetimeTable>tbody>tr>td>.btn {
	color: #999;
}

div.modal-body table#datetimeTable>tbody>tr>td>.btn:hover {
	background-color: #999;
	color: #fff;
}

div.modal-body .input-group-addon{
	padding: 4px 4px;
}

div.modal-body i.glyphicon{
	font-size: 18px;
}

div.modal-body .bootstrap-timepicker-widget.dropdown-menu {
	padding: 2px 12px 2px 2px;
}

.msgbox-sm.alert{
	padding: 3px 15px 3px 15px;
}

.msgbox-sm p{
	font-size: 10px;
}


/* FORM */
input.amrblue[readonly]{
	color: #0a8cdb;
}

input.pink[readonly]{
	color: #F9009d;
}

div.modal-body span.help-block {
	margin-top: 0px;
	margin-bottom: 10px;
	color: #393c3d;
	font-size: 11px;
}

div.modal-body .input-sm.range{
	padding: 5px 1px;
	min-width: 70px;
}

div.modal-body select.xs{
	padding: 2px;
	font-size: 10px;
	height: 25px;
	width: 75px;
}



/* GRID */
div.modal-body .col-xs-1.inner,
div.modal-body .col-xs-2.inner,
div.modal-body .col-xs-3.inner,
div.modal-body .col-xs-4.inner{
	padding-left: 5px;
	padding-right: 5px;
}