/* buttons */

.btn-power{
	font-size: 14px;
	border-radius: 3px;
	color: #fff;
}

.br-sorange{
	background: #f43419;
}

.btn-primary{
	background-color: #25A7F5;
}

.btn-primary:hover{
	background-color: #4ab6f6;
}



/* top header */
.top-header{
	margin-top: 10px;
}


/* HEAD Menu btn */

.menu-btn{
	right: 5%;
}
.menu-btn a{
	background: #53B6E6;	
}

.head{
	border-top: 3px solid #53B6E6;
}

/* TO TOP - btn*/

.totop {
	background: #53B6E6;
}


/* LOGO --------------------------------- */

header .logo {
	margin: 2px 0 0 0;
	float: left;
}

.row.top-header{
	margin-bottom: 0px;
} 

header{
	border-bottom: 1px solid #eeeeee;
}

.amrlogo-sm{
	width: 21px;
	height: 20px;
/*	content: url('../img/amr-isologo-sm.png') 0 0;*/
}

.amrlogo-sm.filter{
	margin: 0px -4px 2px -3px;	
}

.amrlogo-tiny{
	width: 18px;
	height: 17px;
/*	content: url('../img/amr-isologo-sm.png') 0 0;*/
}

.amrlogo-tiny.space-table-service{
	margin: 0px 1px 1px -3px;
}

.amrlogo-tiny.space-view-sidepanel{
	margin: 0px 0px 1px -4px;
}

.amrlogo-sm.space-view-list{
	margin: 0px 0px 1px -4px;
}

.amrlogo-sm.table-product-usetype{
	margin: -1px 0px 1px -4px;
}

/* breadcrumb */
.breadcrumb-amr{
	color: #393c3d;
}

.breadcrumb-amr h2{	
	font-weight: bold;		
}

.breadcrumb-amr i.fa{
	font-size: 20px;
}

.breadcrumb-amr .amrlogo-sm{
	width: 36px;
	height: 34px;
	margin: 0px 3px 2px -13px;	
}

.lightbox-item .amrlogo-sm{
	width: 36px;
	height: 34px;
	margin: 0px 3px -8px -12px;	
}